.logos {
  max-width: 70%;
  margin: 0 auto;
  &__img {
    max-width: 150px;
    width: 100%;
    margin: 2em auto;
    display: block;
    transition: all 0.5s;
    &:hover {
      transform: scale(1.05);
    }
  }
}