.numbers {
  padding: 5em 0;
  &__element {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      display: inline-block;
    }
    &__line {
      border-bottom: 1px solid #FFF;
      width: 5em;
      display: inline-block;
      vertical-align: middle;
      margin-right: 1em;
    }
    &__number {
      font-family: 'Merriweather', serif;
      color: $white;
      font-size: 58px;
      font-weight: bold;
      position: relative;
      display: inline-block;
      padding: 0 10px;
      z-index: 1;
      &:before {
        transition: all 0.6s;
        background-color: transparent;
        content: '';
        height: 43%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 1;
        z-index: -1;
        background-color: $second;
        width: 100%;
        transform-origin: bottom;
        transform: rotate(180deg);
      }
    }
    &__name {
      display: block;
      font-size: 14px;
      font-weight: 400;
      font-family: 'Poppins', sans-serif;

    }
  }
}